@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 62.5%;
}

.appNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appNav .appNavBtn {
  min-width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  margin: 0.5rem 0;
}

.appNav .appNavBtn img {
  width: 3rem;
}

.appNav .appNavBtn h1 {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0.5rem;
  color: #ffffff;
}

.appNav .appNavBtn p {
  font-size: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #514f4f;
}

.appNav .reminder {
  background-color: #f8c45b;
}

.appNav .record {
  background-color: #80deea;
}

.active {
  border: solid 4px #80deea !important;
  background-color: #ffffff !important;
}

.active h1 {
  color: #707070 !important;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 95%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 16px;
  border: solid 4px #c3eef4;
  background-color: rgba(195, 238, 244, 0.36);
  margin: 0 auto;
  margin-bottom: 1rem;
}

.container .back {
  margin: 0.5rem 0.5rem;
}

.container .back a {
  font-family: SegoeUI;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.07;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.container #title {
  margin: 0 auto;
  font-family: OpenSans;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #626262;
}

.container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 0.5rem auto;
}

.container .cards .card1 {
  text-align: left;
  border-radius: 1rem;
  background-color: #73c4d6;
  color: #ffffff;
  -webkit-box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.16);
}

.container .cards .card1 .medicine {
  font-size: 0.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
}

.container .cards .card1 .medicine h1 {
  margin: 0.8rem 0;
}
/*# sourceMappingURL=recommendation2.css.map */