@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 62.5%;
}

.appNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appNav .appNavBtn {
  min-width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  margin: 0.5rem 0;
}

.appNav .appNavBtn img {
  width: 3rem;
}

.appNav .appNavBtn h1 {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0.5rem;
  color: #ffffff;
}

.appNav .appNavBtn p {
  font-size: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #514f4f;
}

.appNav .medicine {
  background-color: #80deea;
}

.appNav .reminder {
  background-color: #f8c45b;
}

.appNav .record {
  background-color: #80deea;
}

.active {
  border: solid 4px #80deea !important;
  background-color: #ffffff !important;
}

.active h1 {
  color: #707070 !important;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container .back {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .back a {
  font-family: SegoeUI;
  font-size: 0.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.07;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.container .addRemBtn {
  margin: 1rem auto;
  text-align: center;
}

.container .addRemBtn button {
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  background-color: #1cbed6;
  color: #ffffff;
}

.reminderWrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reminderWrappper .yellow .pills {
  background-color: #fabc41;
}

.reminderWrappper .brown .pills {
  background-color: #e4865c;
}

.reminderWrappper .blue .pills {
  background-color: #1cbed6;
}

.reminderWrappper .reminder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 7px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 7px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(112, 112, 112, 0.09);
  height: 100%;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
}

.reminderWrappper .reminder .pills {
  margin: 0.8rem 0;
  position: relative;
  left: -1rem;
  width: 12%;
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reminderWrappper .reminder .pills img {
  width: 80%;
}

.reminderWrappper .reminder .meds {
  width: 85%;
  margin: 1rem 0;
}

.reminderWrappper .reminder .meds .medTtileTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.reminderWrappper .reminder .meds .medTtileTime h1 {
  text-transform: uppercase;
  color: #707070;
}

.reminderWrappper .reminder .meds .medTtileTime .fas {
  font-size: 1rem;
}

.reminderWrappper .reminder .meds .medsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reminderWrappper .reminder .meds .medsWrapper .med {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reminderWrappper .reminder .meds .medsWrapper .med h1 {
  font-family: SegoeUI;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.reminderWrappper .reminder .meds .medsWrapper .med #medName {
  color: #707070;
  font-weight: 600;
}

.strike {
  text-decoration: line-through;
}
/*# sourceMappingURL=reminder.css.map */